<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">&Uuml;ber uns</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Schliessen</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list"><center>
        <br>
          <span class="input-label">Erste Frage?</span>
         <h3>blanlabalbaalbalblalba</h3>
        
       <br>
          <span class="input-label">Zweite Frage?</span>
        <h3>blanlabalbaalbalblalba</h3>
         </center>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
